body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;  
  font-size: 16px;
  line-height: 1.5;
  color: #3a3a3a;
}

h1 {
  font-size: 60px;  
  font-weight: 900;
  color: #4F4D53;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;  
  font-weight: 900;
  color: #3a3a3a;
  margin: 0;
  padding: 0;  
}

h4 {
  font-size: 18px;
  font-weight: 600; 
  margin: 0;
  padding: 0 0 10px 0;  
}

p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;   
  color: #4F4D53;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 15px;
}

li {
  padding-bottom: 5px;
}

.col-3 {
  margin: 0;
  padding: 0;
  float: left;
  width: 25%;;
}

.col-8 {
  margin-bottom: 60px;
  background-color: #ffdba9;
  border: 1px solid #ffbb5d;
}

.col-12 {
  background-color: #d2e4de;
  border: 1px solid #a2c7b3; 
}

.main {
  margin: 60px auto;
  padding: 60px;
}

.container {
  width: 1280px;
  margin: auto;
}

.navbar {
  display: flex;
  background-color: #dcfcff;
  border: 1px solid #a9f8ff;
	height: 60px;
}

.nav-links {
  height: auto;
  float: right;  
  display: flex;
  align-items: center;  
}

.nav-links li {
  display: inline;
  padding-right: 40px;
}

#logo {
  display: inline-block;
  color: black;
  font-weight: 900;
  font-size: 20px;
}

.hero_bg {
  height: 500px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  background: url('images/bg.png') no-repeat center;
  background-size: cover;
}

.card {
  margin: 20px 30px 40px 0;
  display: inline-block;
  width: 380px;
}

footer {
	height: 300px;
  background-color: #b1c6e2;
  border: 1px solid #9eb8db;
}

footer .container {
  padding-top: 60px;
}

@media screen and (max-width: 992px) {
  .col-8 {
    width: 1000px;
  }  
  .col-12 {
    width: 1280px;
  }   
  img {
    width: 100%;
  }  
  .card {
    margin: 20px 30px 40px 0;    
    height: 215px;    
  }    
}

@media screen and (max-width: 768px) {
  .col-8 {
    width: 800px;
  } 
  .col-12 {
    width: 800px;
  }   
  img {
    width: 80%;
  } 
  .card {
    margin: 20px 30px 20px 0;
    height: auto;
  }    
}

@media screen and (max-width: 480px) {
  .col-8 {
    width: 300px;
  } 
  .col-12 {
    width: 300px;
  }   
  .nav-links {
    display: none;
  }   
  img {
    width: 100%;
  } 
  .card {
    margin: 20px 30px 0 0;
    max-width: 100%;
    height: auto;
  }  
}
